<div class="property-list">
  <!-- Wide Button at the Top -->
  <div class="wide-button-container">
    <button class="wide-button" (click)="toggleFilterPanel()">Filter Properties</button>
  </div>

  <app-property-filters [isFilterPanelOpen]="isFilterPanelOpen"></app-property-filters>

  <!-- Search Summary -->
<!--  <div class="search-summary" *ngIf="searchQuery">-->
<!--    <p>Search Results for: <strong>{{ searchQuery }}</strong></p>-->
<!--  </div>-->

  <!-- Property Cards -->
  <div *ngFor="let property of properties.list" class="property-card">
    <div class="property-details">
      <div class="property-title">{{property.bedrooms}} bedroom in {{ property.address }}</div>
    </div>
    <div class="property-price">
      <div>
        <span class="currency">AED</span> <span class="price">{{ property.price | number }}</span>
      </div>
      <div>
        <span class="currency">AED</span>{{property.priceM2 | number}}/㎡
      </div>

    </div>
    <div class="property-size">
      Size: <span class="size">{{ property.size }} ㎡</span>
    </div>
    <div class="property-description">
      <div class="description-title">Property Features:</div>
      <ul class="features-list">
        <li *ngFor="let feature of ExtraDetails.userFriendlyExtraDetails(property)" class="feature-item">
          <i class="fa" [class]="feature.icon"></i> {{ feature.text }}
        </li>
      </ul>
    </div>
    <button class="view-details" (click)="openDetails(property.url)">View on Property Finder</button>
  </div>
</div>


<div *ngIf="showAlertModal" class="modal-backdrop">
  <div class="modal-popup">
    <h3>Get Alerts</h3>
    <p>Would you like to receive alerts when a property matching your search gets added?</p>
    <input
      type="email"
      [(ngModel)]="email"
      class="email-input"
      placeholder="Enter your email"
      required
    />
    <button class="modal-button" (click)="subscribeToAlerts()">Yes, Notify Me</button>
    <button class="modal-close" (click)="closeModal()">No, Thanks</button>
  </div>
</div>

