<div class="property-list">
  <div *ngFor="let property of properties" class="property-card">
    <div class="property-title">{{ property.title }}</div>
    <div class="property-details">
      <span><img src="icons/eye.png" alt="Good View Icon"> {{ property.features.view }}</span>
      <span><img src="icons/up-arrow.png" alt="High Floor Icon"> {{ property.features.floor }}</span>
    </div>
    <div class="property-description">
      {{ property.description }}
    </div>
    <div class="property-price-size">
      <strong>{{ property.price }}</strong> • {{ property.size }}
    </div>
    <button class="view-details">View Details</button>
  </div>
</div>
