<form class="row gx-2" [formGroup]="interestForm">
  <div class="col-md-3 col-sm-12 ">
    <select id="inputState" class="form-select mb-2" (change)="changeBedroomSelection($event)"
            [ngClass]="{'is-invalid': interestForm.controls['bedrooms'].invalid && interestForm.controls['bedrooms'].touched}">
      <option value="oneBR">1 Bedroom</option>
      <option value="twoBR">2 Bedrooms</option>
      <option value="threeBR">3 Bedrooms</option>
      <option value="studio">Studio</option>
    </select>
  </div>
  <div class="col-md-3 col-sm-4">
    <div class="input-group mb-2">
      <input id="exampleInputEmail1" [formControl]="interestForm.get('minPrice')" type="number" class="form-control"
             placeholder="Min Price" aria-label="Min Price" aria-describedby="basic-addon1"
             [ngClass]="{'is-invalid': interestForm.controls['minPrice'].invalid && formSubmitted}">
    </div>
  </div>
  <div class="col-md-3 col-sm-4">
    <div class="input-group mb-2">
      <input [formControl]="interestForm.get('maxPrice')" type="number" class="form-control" placeholder="Max Price"
             aria-label="Max Price" aria-describedby="basic-addon1"
             [ngClass]="{'is-invalid': interestForm.controls['maxPrice'].invalid && formSubmitted}">
    </div>
  </div>
  <div class="col-md-2 col-sm-3">
    <div class="input-group mb-2">
      <input [formControl]="interestForm.get('estimatedSize')" type="number" class="form-control"
             placeholder="Size (m²)" aria-label="Size (sqmt)" aria-describedby="basic-addon1"
             [ngClass]="{'is-invalid': interestForm.controls['estimatedSize'].invalid && formSubmitted}">
    </div>
  </div>
  <div
    *ngIf="interestForm.controls['estimatedSize'].value && interestForm.controls['maxPrice'].value && interestForm.controls['minPrice'].value"
    class="col-md-1 col-sm-1">
  </div>
</form>
