<div class="container">
  <div class="column">
    <div class="d-flex justify-content-between">
      <h1>Estate Ease</h1>
      <div class="col-md-2 pt-1">
        <p class="mb-0">Areas</p>
        <select id="inputState" class="form-select" (change)="onAreaChange($event)">
          <option [selected]="area === 'Emaar_Beach_Front'" value="Emaar_Beach_Front">Emaar Beach Front</option>
          <option [selected]="area === 'Down_Town'" value="Down_Town">Down Town</option>
          <option [selected]="area === 'Marina'" value="Marina">Marina</option>
          <option [selected]="area === 'JLT'" value="JLT">JLT</option>
          <!-- <option [selected]="area === 'Emaar_South'" value="Emaar_South">Emaar South</option> -->
          <option [selected]="area === 'Business_Bay'" value="Business_Bay">Business Bay</option>
          <option [selected]="area === 'Dubai_Hills'" value="Dubai_Hills">Dubai Hills</option>
          <option [selected]="area === 'City_Walk'" value="City_Walk">City Walk</option>
        </select>
      </div>
    </div>

    <div class="mb-4 mt-4">
      We have found {{properties.length}} properties that have a price/sqmt that is at least
      <select id="inputState" [formControl]="selectedPctControl">
        <option [selected]="selectedPctControl.value === 0" value=0>0% (View all)</option>
        <option [selected]="selectedPctControl.value === 5" value=5>5%</option>
        <option [selected]="selectedPctControl.value === 10" value=10>10%</option>
        <option [selected]="selectedPctControl.value === 15" value=15>15%</option>
        <option [selected]="selectedPctControl.value === 20" value=20>20%</option>
        <option [selected]="selectedPctControl.value === 25" value=25>25%</option>
        <option [selected]="selectedPctControl.value === 30" value=30>30%</option>
        <option [selected]="selectedPctControl.value === 35" value=35>35%</option>
        <option [selected]="selectedPctControl.value === 40" value=45>40%</option>
        <option [selected]="selectedPctControl.value === 45" value=45>45%</option>
        <option [selected]="selectedPctControl.value === 50" value=50>50%</option>
      </select>
      lower than the average price/sqmt {{pricePerSqm}} AED for a {{numOfBedroomsMapper(bedrooms)}} bedroom apartment in
      {{title}}
    </div>




    <form class="row gx-2" [formGroup]="interestForm">
      <div class="col-md-3 col-sm-12 ">
        <select id="inputState" class="form-select mb-2" (change)="changeBedroomSelection($event)"
          [ngClass]="{'is-invalid': interestForm.controls['bedrooms'].invalid && interestForm.controls['bedrooms'].touched}">
          <option value="oneBR">1 Bedroom</option>
          <option value="twoBR">2 Bedrooms</option>
          <option value="threeBR">3 Bedrooms</option>
          <option value="studio">Studio</option>
        </select>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="input-group mb-2">
          <input id="exampleInputEmail1" [formControl]="interestForm.get('minPrice')" type="number" class="form-control"
            placeholder="Min Price" aria-label="Min Price" aria-describedby="basic-addon1"
            [ngClass]="{'is-invalid': interestForm.controls['minPrice'].invalid && interestForm.controls['minPrice'].touched}">
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="input-group mb-2">
          <input [formControl]="interestForm.get('maxPrice')" type="number" class="form-control" placeholder="Max Price"
            aria-label="Max Price" aria-describedby="basic-addon1"
            [ngClass]="{'is-invalid': interestForm.controls['maxPrice'].invalid && interestForm.controls['maxPrice'].touched}">
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="input-group mb-2">
          <input [formControl]="interestForm.get('estimatedSize')" type="number" class="form-control"
            placeholder="Size (sqmt)" aria-label="Size (sqmt)" aria-describedby="basic-addon1"
            [ngClass]="{'is-invalid': interestForm.controls['estimatedSize'].invalid && interestForm.controls['estimatedSize'].touched}">
        </div>
      </div>
    </form>
    <div class="row">
      <div class="offset-md-8 col-md-4 col-sm-4">
        <div class="form-text email-text" id="basic-addon4">Get notified when a new property that matches your search
          gets added
        </div>
        <div class="input-group">
          <input [formControl]="interestForm.get('email')" type="email" class="form-control" placeholder="Email"
            aria-label="email" aria-describedby="basic-addon1"
            [ngClass]="{'is-invalid': interestForm.controls['email'].invalid && interestForm.controls['email'].touched}">
          <button class="btn btn-outline-primary" type="button" id="button-addon2"
            (click)="sendInterest()">Submit</button>
        </div>
        <div *ngIf="interestSuccess" class="form-text email-text mt-2" id="basic-addon4">
          Interest created successfully! to view your interests <a [routerLink]="['/interests']"
            [queryParams]="{ email: interestForm.controls['email'].value }">Click here</a>

        </div>
        <div *ngIf="interestExists" class="form-text email-text mt-2" id="basic-addon4">
          Similar Interest already exists. To view your interests <a [routerLink]="['/interests']"
            [queryParams]="{ email: interestForm.controls['email'].value }">Click here</a>

        </div>
      </div>
    </div>



    <ag-grid-angular class="ag-theme-quartz mt-2" style="width: 100%; height: 400px;" [rowData]="filteredProperties"
      [columnDefs]="colDefs" />


  </div>
</div>